<!DOCTYPE html>
<html>
<head>
    <title>Kviz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% if question %}
        <div class="container">
            <h2>{{ question }}</h2>
            <form action="/quiz" method="post">
                <input type="text" name="answer" required>
                <input type="submit" value="Provjeri odgovor">
            </form>
        </div>
    {% else %}
        <div class="container">
            <h2>{{ result }}</h2>
            <p>Točan odgovor: {{ correct_answer }}</p>
            <form action="/quiz" method="get">
                <input type="submit" value="Sljedeće pitanje">
            </form>
        </div>
    {% endif %}
    <a href="/" class="top-left">←</a>
</body>
</html>
